In [1]:
# Projeto 20
# Importando as bibliotecas necessárias
import pandas as pd
import os

In [2]:
# Lendo e exibindo o dataframe
df_notas = pd.read_csv("notas_alunos.csv")
display(df_notas)

     aluno  nota_1  nota_2  faltas
0  aluno_1       7       7       1
1  aluno_2       3      10       7
2  aluno_3       9       4       2
3  aluno_4      10       6       9

In [3]:
# Criando a coluna de média e preenchendo seus respectivos valores
df_notas["média"] = [0, 0, 0, 0]
for i in range(len(df_notas["média"])):
    df_notas.iloc[i, 4] = (df_notas.iloc[i,1] + df_notas.iloc[i,2]) / 2

display(df_notas)

     aluno  nota_1  nota_2  faltas  média
0  aluno_1       7       7       1    7.0
1  aluno_2       3      10       7    6.5
2  aluno_3       9       4       2    6.5
3  aluno_4      10       6       9    8.0

In [4]:
# Criando a coluna de situação e preenchendo seus respectivos valores
df_notas["situação"] = ['', '', '', '']
for i in range(len(df_notas["situação"])):
    if (df_notas.iloc[i, 4] < 7) or df_notas.iloc[i, 3] > 5:
        df_notas.iloc[i, 5] = "Reprovado"
    else:
        df_notas.iloc[i, 5] = "Aprovado"
        
display(df_notas)

     aluno  nota_1  nota_2  faltas  média   situação
0  aluno_1       7       7       1    7.0   Aprovado
1  aluno_2       3      10       7    6.5  Reprovado
2  aluno_3       9       4       2    6.5  Reprovado
3  aluno_4      10       6       9    8.0  Reprovado

In [5]:
# Obtendo o caminho onde se está trabalhando e salvando o novo dataframe alunos_situacao.csv neste local
path = os.getcwd()
df_notas.to_csv(path + r"\alunos_situacao.csv")